{% extends 'base.html.twig' %}

{% block title %}Détails de {{ student.firstName }} {{ student.lastName }}{% endblock %}

{% block body %}
    <h1>Détails de {{ student.firstName }} {{ student.lastName }}</h1>

    <ul>
        <li>Prénom : {{ student.firstName }}</li>
        <li>Nom : {{ student.lastName }}</li>
        <li>Phone : {{ student.phone }}</li>
        <li>Email : {{ student.email }}</li>
        <li>Ville : {{ student.ville }}</li>
    </ul>

    <h2>Inscrit à :</h2>
        <ul>
            {# SI sessions est sup a 0 #}
            {% if sessions|length > 0 %}
            {# On boucle  #}
                {% for session in sessions %}
                    <li>{{ session.titleSection }}</li>
            {% endfor %}
            {# SINON #}
            {% else %}
                <p>Aucun inscription pour le moment</p>
            {% endif %}
        </ul>

{% endblock %}
