{% extends 'base.html.twig' %}

{% block title %}
  <h1>{{ session.titlesection }}</h1>
{% endblock %}

{% block body %}
<div class="flexTab">
  <div class="basic-tab">

    {# Tableau infos #}
    <table class="tabDetailSession">

      <thead>
        <tr>
          <th colspan="2">Informations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Professeur :</td>
          <td class="margin text-center">{{ session.former.firstName }} {{ session.former.lastName }}</td>
        </tr>
        <tr>
          <td class="text-center">Date de début :</td>
          <td class="reset text-center">{{ session.dateBegin|date('d/m/Y') }}</td>
        </tr>
        <tr>
          <td class="text-center">Date de fin :</td>
          <td class="reset text-center">{{ session.dateEnd|date('d/m/Y') }}</td>
        </tr>
        <tr>
          <td class="text-center">Nombre de places total :</td>
          <td class="reset text-center">{{ session.nbPlaces }}</td>
        </tr>
        <tr>
          <td class="text-center">Nombre de places disponibles :</td>
          <td class="text-center">{{ session.nbPlaces - session.students|length }}/{{ session.nbPlaces }}</td>
        </tr>
      </tbody>

    </table>

  </div>

  {# tableau student #}
  {% if session.students is not empty %}
    <div class="basic-tab">

      <table class="tabDetailSession">

        <thead>
          <tr>
            <th>Liste des stagiaires inscrits :</th>
          </tr>
        </thead>
        <tbody>
          {# On parcours la collections de stagiaire(students) de session avec une condition pour vérifier si ell eest vide #}
          {% for student in session.students %}
            <tr>
              <td><a class="reset" href="{{ path('app_showDetailsStudent', {'id': student.id}) }}">{{ student.firstName }} {{ student.lastName }}</a></td>
              <td><a class="reset" href="{{ path('app_removeStudentFromSession', {'sessionId': session.id, 'studentId': student.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>
  {% endif %}

  {% if studentsNotInSession is defined and studentsNotInSession is not empty %}
  <div class="basic-tab">
    <table class="tabDetailSession">
      <thead>
        <tr>
          <th>Étudiants non inscrits :</th>
        </tr>
      </thead>
      <tbody>
        {% for student in studentsNotInSession %}
        <tr>
          <td class="addingTd">{{ student.lastName }} {{ student.firstName }} <a href="{{ path('app_addStudentToSession', {'id': session.id, 'studentId': student.id}) }}" class="btn btn-primary">Ajouter</a></td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>Aucun étudiant libre.</p>
{% endif %}

</div>

{# <a href="{{ path('formation_sessions', {'id': formation.id, 'sessionId': session.id}) }}">Retour à la liste des sessions</a> #}
{# <br>
  <a href="{{ path('app_home') }}">Retour à l'accueil</a> #}
{% endblock %}
