{% extends 'base.html.twig' %}

{% block title %} Les formations{% endblock %}

{% block body %}
      <div class="basic-tab">

        <table>
          <thead>
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <td class="backgreen"><a href="{{ path('app_formationCreate') }}">Ajouter une formation</a></td>
            {% endif %}
            {# <td class="backred"><a href="{{ path('app_formationCreate') }}">Supprimer une formation</a></td> #}
            <tr>
              <th>Titre de la formation ({{ formations|length }})</th>
              <th>Sessions</th>
            </tr>
          </thead>  
          <tbody>
            {% for formation in formations %}
              <tr>
                <td class="firstTd">{{ formation.titleFormation }}</td>
                <td><a href="{{ path('formation_sessions', {'id': formation.id}) }}">Voir les sessions</a> 
                  {% if 'ROLE_ADMIN' in app.user.roles %}
                <a class="red" href="{{ path('app_formationDelete', {'id': formation.id})   }}">Supprimer</a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
{# <br>
<a href="{{ path('app_home') }}">Retour à l'accueil</a> #}


{% endblock %}
