{% extends 'base.html.twig' %}

{% block title %} Liste des sessions {% endblock %}

{% block body %}
{# <h1>Il y a {{ sessions|length }} Sessions</h1> #}
  <div class="basic-tab">
    <table>
      <thead>
        {% if is_granted('[ROLE_USER]') %} 
        <td class="backgreen"><a href="{{ path('app_sessionCreate') }}">Ajouter une session</a></td>
        {% endif %}
        <tr>
          <th>Titre de la session ({{ sessions|length }})</th>
          <th>Détails</th>  
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
          <tr>
            <td class="firstTd">{{ session.titlesection }}</td>
            <td><a href="{{ path('app_showDetailsSession', {'id': session.id}) }}">Voir les détails</a>
            {% if is_granted('[ROLE_USER]') %} 
            <a class="red" href="{{ path('app_sessionDelete', {'id': session.id}) }}">Supprimer</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
   {# app pour revenir sur la page de base formation (et pas juste formation) #}
  <a href="{{ path('app_formation') }}">Retour à la liste des formations</a> 
  {# <br>
  <a href="{{ path('app_home') }}">Retour à l'accueil</a> #}

{% endblock %}      