{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.pseudo }} {% endblock %}

{% block body %}

<div class="basic-tab">
    <table class="tabDetailSession">
      <thead>
        <tr>
          <th colspan="3">Profil de {{ app.user.pseudo }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pseudo :</td>
          <td>{{ app.user.pseudo }}</td>
          <td><a href="{{ path('account_change_pseudo') }}" class="btn btn-primary">Modifier</a></td>
        </tr>
        <tr>
          <td>Email :</td>
          <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <td>Rôle :</td>
            {# |json_encode pour passer un array en string #}
            <td>{{ app.user.roles|json_encode }}</td>
        </tr>
        <tr>
            <td>Verified :</td>
            {# ? 'Yes' : 'No'  ( ternaire ) pour éviter d'avoir 0 ou 1 #}
            <td>{{ app.user.isVerified ? 'Yes' : 'No' }}</td>
        </tr>

        {# <tr>
          <td>Modifications :</td>
          <td>
            <h1>Change Pseudo</h1>

            {{ form_start(changePseudoForm) }}
                {{ form_row(changePseudoForm.pseudo) }}
                {{ form_row(changePseudoForm.save) }}
            {{ form_end(changePseudoForm) }}| #}
              {# <a href="{{ path('change_email') }}">Changer email</a> |
              <a href="{{ path('change_password') }}">Changer mot de passe</a> #}
          {# </td>
      </tr> #}

      </tbody>
    </table>
  </div>

{% endblock %}
